* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#calculator {
  width: 400px;
  height: 600px;
  border: 3px grey solid;
  border-radius: 30px;
  margin: 50px auto;
}

#display {
  width: 360px;
  height: 160px;
  border: 3px grey solid;
  border-radius: 30px;
  box-sizing: border-box;
  margin: 20px;
  font-size: 32px;
  text-align: right;
  padding: 10px;
}

#btns {
  width: 360px;
  height: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  margin: 20px;
}

button {
  width: 80px;
  height: 80px;
  border: none;
  background-color: rgb(230, 230, 230);
  border-radius: 50%;
  font-size: 24px;
}

button:active {
  background-color: rgb(190, 190, 190);
}
